Repository christianreddington/Theatreers: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/Theatreers.Admin.yml, pipelines/Theatreers.Core.yml, pipelines/Theatreers.Frontend.yml, pipelines/Theatreers.Show.yml

pipelines/Theatreers.Admin.yml:
  stages:
  - template: /pipelines/stages/lifecycle.yml
    parameters:
      artifactName: ${{ variables.artifactName }}
      azureServiceGroupName: ${{ variables.azureServiceGroupName }}
      regions:
      - short: neu
        long: northeurope
        preprod_dependency: preprod_northeurope
      - short: weu
  ...

pipelines/Theatreers.Core.yml:
  stages:
  - template: /pipelines/stages/lifecycle.yml
    parameters:
      artifactName: ${{ variables.artifactName }}
      azureServiceGroupName: ${{ variables.azureServiceGroupName }}
      regions:
      - short: neu
        long: northeurope
      service: ${{ variables.applicationServiceNameFull }}
  ...

pipelines/Theatreers.Frontend.yml:
  stages:
  - template: /pipelines/stages/lifecycle.yml
    parameters:
      artifactName: ${{ variables.artifactName }}
      azureServiceGroupName: ${{ variables.azureServiceGroupName }}
      regions:
      - short: neu
        long: northeurope
      service: ${{ variables.applicationServiceNameFull }}
  ...

pipelines/Theatreers.Show.yml:
  stages:
  - template: /pipelines/stages/lifecycle.yml
    parameters:
      artifactName: ${{ variables.artifactName }}
      azureServiceGroupName: ${{ variables.azureServiceGroupName }}
      regions:
      - short: weu
        long: westeurope
      service: ${{ variables.applicationServiceNameFull }}
  ...

Use WindowsVM in preprod
  pipelines/Theatreers.DevOps/Theatreers.DevOps.preprod.yml
Due: none

Adjust lifecycle to include prod
  pipelines/Theatreers.DevOps/Theatreers.DevOps.prod.yml
  pipelines/stages/lifecycle.yml
Due: none

Adjust to push/pac in pre-prod
  pipelines/Archive/theatreers.devops.iac.yaml
  pipelines/Theatreers.Core/Theatreers.Core.master.yml
  pipelines/Theatreers.Core/Theatreers.Core.preprod.yml
  pipelines/Theatreers.Core/Theatreers.Core.prod.yml
  pipelines/Theatreers.Core/Theatreers.Show/Theatreers.Core.ci.yml
  pipelines/Theatreers.Core/Theatreers.Show/Theatreers.Core.dev.yml
  pipelines/Theatreers.Core/Theatreers.Show/Theatreers.Core.master.yml
  pipelines/Theatreers.Core/Theatreers.Show/Theatreers.Core.preprod.yml
  pipelines/Theatreers.Core/Theatreers.Show/Theatreers.Core.prod.yml
Due: pipelines/Theatreers.Core.yml

Remove core archive pipeline
  pipelines/Archive/Theatreers.Core.pipeline.yaml
Due: none

Adjust to use gitversion in core pipeline
  pipelines/Theatreers.Core/Theatreers.Core.ci.yml
  pipelines/Theatreers.Core/Theatreers.Core.preprod.yml
  src/Theatreers.Core/GitVersion.yml
Due: pipelines/Theatreers.Core.yml

Adjust version number of GitVersion task
  pipelines/Theatreers.Core/Theatreers.Core.ci.yml
  pipelines/Theatreers.Core/Theatreers.Core.preprod.yml
Due: pipelines/Theatreers.Core.yml

Add checkout step to pre-prod
  pipelines/Theatreers.Core/Theatreers.Core.preprod.yml
Due: pipelines/Theatreers.Core.yml

Add restore to preprod
  pipelines/Theatreers.Core/Theatreers.Core.preprod.yml
Due: pipelines/Theatreers.Core.yml

Put back into master
  pipelines/Theatreers.Core/Theatreers.Core.master.yml
  pipelines/Theatreers.Core/Theatreers.Core.preprod.yml
Due: pipelines/Theatreers.Core.yml

Adjust pipeline to match sample
  pipelines/Theatreers.Core/Theatreers.Core.master.yml
Due: pipelines/Theatreers.Core.yml

Include buildoutput
  pipelines/Theatreers.Core/Theatreers.Core.master.yml
Due: pipelines/Theatreers.Core.yml

Remove the nobuild and output
  pipelines/Theatreers.Core/Theatreers.Core.master.yml
Due: pipelines/Theatreers.Core.yml

trigger
  pipelines/Theatreers.Core/Theatreers.Core.master.yml
Due: pipelines/Theatreers.Core.yml

Update +semver
  pipelines/Theatreers.Core/Theatreers.Core.master.yml
Due: pipelines/Theatreers.Core.yml

+semver: minor Some update
  pipelines/Theatreers.Core/Theatreers.Core.master.yml
Due: pipelines/Theatreers.Core.yml

Integrate changes for CI build (#63)
  pipelines/Theatreers.Core/Theatreers.Core.ci.yml
  pipelines/Theatreers.Core/Theatreers.Core.master.yml
Due: pipelines/Theatreers.Core.yml

+semver:patch Increase patch level to commit
  pipelines/Theatreers.Core/Theatreers.Core.ci.yml
Due: pipelines/Theatreers.Core.yml

+semver: patch patch the Comment
  pipelines/Theatreers.Core/Theatreers.Core.ci.yml
Due: pipelines/Theatreers.Core.yml

Adjust ShowObject
  src/Theatreers.Show/Models/ShowObject.cs
Due: pipelines/Theatreers.Show.yml

Also add generic collection dependency
  src/Theatreers.Show/Models/ShowObject.cs
Due: pipelines/Theatreers.Show.yml

Adjust typo of Characters to Character
  src/Theatreers.Show/Models/ShowObject.cs
Due: pipelines/Theatreers.Show.yml

POC for frontend characters & songs
  src/Theatreers.Frontend/src/views/show/GetShow.vue
Due: pipelines/Theatreers.Frontend.yml

Temporary remove auth on create/update show API
  src/Theatreers.Frontend/src/components/ShowForm.vue
  src/Theatreers.Frontend/src/views/show/GetShow.vue
Due: pipelines/Theatreers.Frontend.yml

Remove authentication checks temporarily
  src/Theatreers.Show/Functions/CreateShowObject.cs
  src/Theatreers.Show/Functions/UpdateShow.cs
Due: pipelines/Theatreers.Show.yml

Adjustment to fix extra brace
  src/Theatreers.Show/Functions/UpdateShow.cs
Due: pipelines/Theatreers.Show.yml

Init new frontend with vuex stores
  src/theatreers.frontend.new/.browserslistrc
  src/theatreers.frontend.new/.eslintrc.js
  src/theatreers.frontend.new/.gitignore
  src/theatreers.frontend.new/babel.config.js
  src/theatreers.frontend.new/package-lock.json
  src/theatreers.frontend.new/package.json
  src/theatreers.frontend.new/public/favicon.ico
  src/theatreers.frontend.new/public/index.html
  src/theatreers.frontend.new/src/App.vue
  src/theatreers.frontend.new/src/api/alert.js
  src/theatreers.frontend.new/src/api/breadcrumb.js
  src/theatreers.frontend.new/src/api/notes.js
  src/theatreers.frontend.new/src/assets/logo.png
  src/theatreers.frontend.new/src/components/AlertsComponent.vue
  src/theatreers.frontend.new/src/components/BreadcrumbsComponent.vue
  src/theatreers.frontend.new/src/components/HeaderDropdown.vue
  src/theatreers.frontend.new/src/components/HelloWorld.vue
  src/theatreers.frontend.new/src/main.js
  src/theatreers.frontend.new/src/main.scss
  src/theatreers.frontend.new/src/plugins/bootstrap-vue.js
  src/theatreers.frontend.new/src/router/index.js
  src/theatreers.frontend.new/src/store/index.js
  src/theatreers.frontend.new/src/store/modules/alerts.js
  src/theatreers.frontend.new/src/store/modules/breadcrumbs.js
  src/theatreers.frontend.new/src/store/modules/notes.js
  src/theatreers.frontend.new/src/views/About.vue
  src/theatreers.frontend.new/src/views/Home.vue
Due: none

MSAL ok. Views being adjusted to standard mdel
  src/theatreers.frontend.new/package-lock.json
  src/theatreers.frontend.new/package.json
  src/theatreers.frontend.new/src/components/HeaderDropdown.vue
  src/theatreers.frontend.new/src/components/ShowForm.vue
  src/theatreers.frontend.new/src/components/ShowImage.vue
  src/theatreers.frontend.new/src/components/ShowNews.vue
  src/theatreers.frontend.new/src/config/index.js
  src/theatreers.frontend.new/src/main.js
  src/theatreers.frontend.new/src/msal/index.js
  src/theatreers.frontend.new/src/router/index.js
  src/theatreers.frontend.new/src/store/modules/alerts.js
  src/theatreers.frontend.new/src/views/Home.vue
  src/theatreers.frontend.new/src/views/admin/AdminRoot.vue
  src/theatreers.frontend.new/src/views/admin/GetPermissions.vue
  src/theatreers.frontend.new/src/views/event/GetEvent.vue
  src/theatreers.frontend.new/src/views/event/GetEvents.vue
  src/theatreers.frontend.new/src/views/group/GetGroup.vue
  src/theatreers.frontend.new/src/views/group/GetGroups.vue
  src/theatreers.frontend.new/src/views/show/CreateShow.vue
  src/theatreers.frontend.new/src/views/show/EditShow.vue
  src/theatreers.frontend.new/src/views/show/GetShow.vue
  src/theatreers.frontend.new/src/views/show/GetShows.vue
Due: none

Fix for show orchestrator per docs
  src/Theatreers.Show/Functions/CreateShowOrchestrator.cs
Due: pipelines/Theatreers.Show.yml

Adjust to pass null as instanceId
  src/Theatreers.Show/Functions/CreateShowOrchestrator.cs
Due: pipelines/Theatreers.Show.yml

Temporarily turn off no-console linting
  src/Theatreers.Frontend/.eslintrc.js
Due: pipelines/Theatreers.Frontend.yml

temp turn console and debug on
  src/Theatreers.Frontend/.eslintrc.js
Due: pipelines/Theatreers.Frontend.yml

offf
  src/Theatreers.Frontend/.eslintrc.js
Due: pipelines/Theatreers.Frontend.yml

Adjust redirectUri
  src/Theatreers.Frontend/src/config/index.js
Due: pipelines/Theatreers.Frontend.yml

Restyled by whitespace
  src/Theatreers.Admin/Theatreers.Admin.csproj
  src/Theatreers.Show/Theatreers.Show.csproj
Due: pipelines/Theatreers.Admin.yml, pipelines/Theatreers.Show.yml

Adjustments to central UI frame
  src/Theatreers.Frontend/src/components/HeaderDropdown.vue
  src/Theatreers.Frontend/src/config/index.js
  src/Theatreers.Frontend/src/views/admin/AdminRoot.vue
  src/Theatreers.Frontend/src/views/event/GetEvent.vue
  src/Theatreers.Frontend/src/views/event/GetEvents.vue
  src/Theatreers.Frontend/src/views/group/GetGroup.vue
  src/Theatreers.Frontend/src/views/group/GetGroups.vue
Due: pipelines/Theatreers.Frontend.yml

Add identity checks
  src/Theatreers.Show/Functions/CreateShowObject.cs
  src/Theatreers.Show/Functions/UpdateShow.cs
Due: pipelines/Theatreers.Show.yml

Fix errors on headerdropdown
  src/Theatreers.Frontend/src/components/HeaderDropdown.vue
  src/Theatreers.Frontend/src/config/index.js
Due: pipelines/Theatreers.Frontend.yml

Adjust APIM definition
  deploy/Theatreers.Show/apim-apis.json
Due: none

Path conditions:
  pipelines/Theatreers.Admin.yml: any of: src/Theatreers.Admin, pipelines/Theatreers.Admin.yml, pipelines/Theatreers.Admin
  pipelines/Theatreers.Core.yml: any of: src/Theatreers.Core, pipelines/Theatreers.Core.yml, pipelines/Theatreers.Core
  pipelines/Theatreers.Frontend.yml: any of: src/Theatreers.Frontend, pipelines/Theatreers.Frontend.yml, pipelines/Theatreers.Frontend
  pipelines/Theatreers.Show.yml: any of: src/Theatreers.Show, pipelines/Theatreers.Show.yml, pipelines/Theatreers.Show
