Repository christianreddington/Theatreers: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/Theatreers.Admin.yml, pipelines/Theatreers.Core.yml, pipelines/Theatreers.Frontend.yml, pipelines/Theatreers.Show.yml

pipelines/Theatreers.Admin.yml:
  stages:
  - template: /pipelines/stages/lifecycle.yml
    parameters:
      artifactName: ${{ variables.artifactName }}
      azureServiceGroupName: ${{ variables.azureServiceGroupName }}
      regions:
      - short: neu
        long: northeurope
        preprod_dependency: preprod_northeurope
      - short: weu
  ...

pipelines/Theatreers.Core.yml:
  stages:
  - template: /pipelines/stages/lifecycle.yml
    parameters:
      artifactName: ${{ variables.artifactName }}
      azureServiceGroupName: ${{ variables.azureServiceGroupName }}
      regions:
      - short: neu
        long: northeurope
      service: ${{ variables.applicationServiceNameFull }}
  ...

pipelines/Theatreers.Frontend.yml:
  stages:
  - template: /pipelines/stages/lifecycle.yml
    parameters:
      artifactName: ${{ variables.artifactName }}
      azureServiceGroupName: ${{ variables.azureServiceGroupName }}
      regions:
      - short: neu
        long: northeurope
      service: ${{ variables.applicationServiceNameFull }}
  ...

pipelines/Theatreers.Show.yml:
  stages:
  - template: /pipelines/stages/lifecycle.yml
    parameters:
      artifactName: ${{ variables.artifactName }}
      azureServiceGroupName: ${{ variables.azureServiceGroupName }}
      regions:
      - short: weu
        long: westeurope
      service: ${{ variables.applicationServiceNameFull }}
  ...

Trigger pipeline
  src/Theatreers.Show/Startup.cs
Due: pipelines/Theatreers.Show.yml

Spelling fix for show
  deploy/Theatreers.Show/apim-apis.json
Due: none

another trigger
  src/Theatreers.Show/Startup.cs
Due: pipelines/Theatreers.Show.yml

Trigger
  src/Theatreers.Show/Startup.cs
Due: pipelines/Theatreers.Show.yml

Standardising UI and building image delete
  src/Theatreers.Frontend/src/components/AlertsComponent.vue
  src/Theatreers.Frontend/src/components/ShowImage.vue
  src/Theatreers.Frontend/src/main.js
  src/Theatreers.Frontend/src/msal/index.js
  src/Theatreers.Frontend/src/router/index.js
  src/Theatreers.Frontend/src/views/show/EditShow.vue
  src/Theatreers.Frontend/src/views/show/GetShow.vue
Due: pipelines/Theatreers.Frontend.yml

Add Swagger to Show API
  src/Theatreers.Show/Functions/Swagger.cs
  src/Theatreers.Show/Startup.cs
  src/Theatreers.Show/Theatreers.Show.csproj
Due: pipelines/Theatreers.Show.yml

Add Swagger to Admin
  src/Theatreers.Admin/Functions/Swagger.cs
  src/Theatreers.Admin/Startup.cs
  src/Theatreers.Admin/Theatreers.Admin.csproj
Due: pipelines/Theatreers.Admin.yml

Adjust to focus on zip deploy for azure function
  pipelines/Theatreers.Admin/Theatreers.Admin.preprod.yml
Due: pipelines/Theatreers.Admin.yml

Adjust to zipDeploy in line with GH code
  pipelines/Theatreers.Admin/Theatreers.Admin.preprod.yml
Due: pipelines/Theatreers.Admin.yml

Adjust Auth level
  src/Theatreers.Admin/Functions/Swagger.cs
Due: pipelines/Theatreers.Admin.yml

add assembly binding
  src/Theatreers.Admin/Startup.cs
Due: pipelines/Theatreers.Admin.yml

Dummy comment for trigger
  src/Theatreers.Show/Startup.cs
Due: pipelines/Theatreers.Show.yml

Fixes for KeyVault and remove dummy comment
  pipelines/Theatreers.Admin/Theatreers.Admin.preprod.yml
  pipelines/Theatreers.Show/Theatreers.Show.preprod.yml
  src/Theatreers.Show/Startup.cs
Due: pipelines/Theatreers.Admin.yml, pipelines/Theatreers.Show.yml

Adjust to use objectId
  pipelines/Theatreers.Admin/Theatreers.Admin.preprod.yml
  pipelines/Theatreers.Show/Theatreers.Show.preprod.yml
Due: pipelines/Theatreers.Admin.yml, pipelines/Theatreers.Show.yml

Adjust to use other objectId
  pipelines/Theatreers.Admin/Theatreers.Admin.preprod.yml
  pipelines/Theatreers.Show/Theatreers.Show.preprod.yml
Due: pipelines/Theatreers.Admin.yml, pipelines/Theatreers.Show.yml

Frontend tweaks
  src/Theatreers.Admin.sln
  src/Theatreers.Admin/Functions/helloworld.txt
  src/Theatreers.Frontend/src/App.vue
  src/Theatreers.Frontend/src/components/ShowForm.vue
  src/Theatreers.Frontend/src/components/ShowNews.vue
  src/Theatreers.Frontend/src/components/structure/Footer.vue
Due: pipelines/Theatreers.Admin.yml, pipelines/Theatreers.Frontend.yml

Persist state on refresh, push/pop alerts
  src/Theatreers.Frontend/package.json
  src/Theatreers.Frontend/src/components/AlertsComponent.vue
  src/Theatreers.Frontend/src/components/ShowImage.vue
  src/Theatreers.Frontend/src/store/index.js
  src/Theatreers.Frontend/src/store/modules/alerts.js
  src/Theatreers.Frontend/src/views/show/GetShow.vue
Due: pipelines/Theatreers.Frontend.yml

Convert null participants to empty array
  src/Theatreers.Show/Functions/CreateShowObject.cs
  src/Theatreers.Show/Functions/UpdateShow.cs
Due: pipelines/Theatreers.Show.yml

Adjust to use empy list.
  src/Theatreers.Show/Functions/CreateShowObject.cs
  src/Theatreers.Show/Functions/UpdateShow.cs
Due: pipelines/Theatreers.Show.yml

Add appropriate references
  src/Theatreers.Show/Functions/CreateShowObject.cs
  src/Theatreers.Show/Functions/UpdateShow.cs
Due: pipelines/Theatreers.Show.yml

Adjust to list of string
  src/Theatreers.Show/Functions/CreateShowObject.cs
  src/Theatreers.Show/Functions/UpdateShow.cs
Due: pipelines/Theatreers.Show.yml

Add vocaltype, key signature and participants
  src/Theatreers.Frontend/package-lock.json
  src/Theatreers.Frontend/package.json
  src/Theatreers.Frontend/src/api/keysignatures.js
  src/Theatreers.Frontend/src/api/vocaltype.js
  src/Theatreers.Frontend/src/components/ShowForm.vue
  src/Theatreers.Frontend/src/config/index.js
  src/Theatreers.Frontend/src/main.js
  src/Theatreers.Frontend/src/store/index.js
  src/Theatreers.Frontend/src/store/modules/keysignatures.js
  src/Theatreers.Frontend/src/store/modules/vocaltype.js
Due: pipelines/Theatreers.Frontend.yml

Fix redirect config for prod
  src/Theatreers.Frontend/src/config/index.js
Due: pipelines/Theatreers.Frontend.yml

Adjust show backend
  deploy/Theatreers.Show/apim-apis.json
  src/Theatreers.Show/Abstractions/IDataLayer.cs
  src/Theatreers.Show/Abstractions/IShowDomain.cs
  src/Theatreers.Show/Actions/DataLayer.cs
  src/Theatreers.Show/Actions/ShowDomain.cs
  src/Theatreers.Show/Functions/CreateShowImageObject.cs
  src/Theatreers.Show/Functions/DeleteShowImageObject.cs
  src/Theatreers.Show/Models/BlobImagePoco.cs
  src/Theatreers.Show/Models/EventGridSchema.cs
  src/Theatreers.Show/Models/ImageObject.cs
  src/Theatreers.Show/Models/midi-note-mapping.txt
  src/Theatreers.Show/Theatreers.Show.csproj
Due: pipelines/Theatreers.Show.yml

Add showServiceBlobConnectionString
  pipelines/Theatreers.Show/Theatreers.Show.preprod.yml
Due: pipelines/Theatreers.Show.yml

Update frontend based on backend
  src/Theatreers.Frontend/package-lock.json
  src/Theatreers.Frontend/package.json
  src/Theatreers.Frontend/src/main.js
  src/Theatreers.Frontend/src/services/blobuploader.js
  src/Theatreers.Frontend/src/views/show/GetShow.vue
Due: pipelines/Theatreers.Frontend.yml

Fix token sending
  src/Theatreers.Frontend/src/services/blobuploader.js
  src/Theatreers.Frontend/src/views/show/GetShow.vue
Due: pipelines/Theatreers.Frontend.yml

Restyled by whitespace
  src/Theatreers.Show/Theatreers.Show.csproj
Due: pipelines/Theatreers.Show.yml

Restyled by whitespace
  src/Theatreers.Admin/Theatreers.Admin.csproj
  src/Theatreers.Show/Theatreers.Show.csproj
Due: pipelines/Theatreers.Admin.yml, pipelines/Theatreers.Show.yml

Path conditions:
  pipelines/Theatreers.Admin.yml: any of: src/Theatreers.Admin, pipelines/Theatreers.Admin.yml, pipelines/Theatreers.Admin
  pipelines/Theatreers.Core.yml: any of: src/Theatreers.Core, pipelines/Theatreers.Core.yml, pipelines/Theatreers.Core
  pipelines/Theatreers.Frontend.yml: any of: src/Theatreers.Frontend, pipelines/Theatreers.Frontend.yml, pipelines/Theatreers.Frontend
  pipelines/Theatreers.Show.yml: any of: src/Theatreers.Show, pipelines/Theatreers.Show.yml, pipelines/Theatreers.Show
