Repository christianreddington/Theatreers: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/Theatreers.Admin.yml, pipelines/Theatreers.Frontend.yml, pipelines/Theatreers.Show.yml

pipelines/Theatreers.Admin.yml:
  stages:
  - template: /pipelines/stages/lifecycle.yml
    parameters:
      service: ${{ variables.service }}

pipelines/Theatreers.Frontend.yml:
  stages:
  - template: /pipelines/stages/lifecycle.yml
    parameters:
      artifactName: ${{ variables.artifactName }}
      service: ${{ variables.service }}
      src: ${{ variables.src }}

pipelines/Theatreers.Show.yml:
  stages:
  - template: /pipelines/stages/lifecycle.yml
    parameters:
      service: ${{ variables.service }}

Increment version of Theatreers.Core and init Core pipeline (#22)
  pipelines/Theatreers.Core.yml
  pipelines/Theatreers.Core/Theatreers.Show/Theatreers.Core.ci.yml
  pipelines/Theatreers.Core/Theatreers.Show/Theatreers.Core.dev.yml
  pipelines/Theatreers.Core/Theatreers.Show/Theatreers.Core.master.yml
  pipelines/Theatreers.Core/Theatreers.Show/Theatreers.Core.preprod.yml
  pipelines/Theatreers.Core/Theatreers.Show/Theatreers.Core.prod.yml
  src/Theatreers.Core/Theatreers.Core.csproj
Due: none

Adjust folder structure for Core Pipeline (#26)
  pipelines/Theatreers.Core/Theatreers.Core.ci.yml
  pipelines/Theatreers.Core/Theatreers.Core.dev.yml
  pipelines/Theatreers.Core/Theatreers.Core.master.yml
  pipelines/Theatreers.Core/Theatreers.Core.preprod.yml
  pipelines/Theatreers.Core/Theatreers.Core.prod.yml
Due: none

Add pre-prod/prod tasks for core pipeline (#27)
  pipelines/Theatreers.Core/Theatreers.Core.master.yml
  pipelines/Theatreers.Core/Theatreers.Core.preprod.yml
  pipelines/Theatreers.Core/Theatreers.Core.prod.yml
Due: none

Remove extra spacing
  CODEOWNERS
Due: none

Move to .github
  .github/CODEOWNERS
Due: none

Adjust pipeline for multiple regions foundation in lifecycle
  pipelines/Theatreers.Admin.yml
  pipelines/Theatreers.Admin/Theatreers.Admin.prod.yml
  pipelines/Theatreers.Core.yml
  pipelines/Theatreers.Core/Theatreers.Core.ci.yml
  pipelines/Theatreers.Core/Theatreers.Core.dev.yml
  pipelines/Theatreers.Core/Theatreers.Core.master.yml
  pipelines/Theatreers.Core/Theatreers.Core.preprod.yml
  pipelines/Theatreers.Core/Theatreers.Core.prod.yml
  pipelines/stages/lifecycle.yml
  pipelines/stages/prod.yml
Due: pipelines/Theatreers.Admin.yml

Attempt at bringing environmentName together (#32)
  pipelines/Theatreers.Admin.yml
  pipelines/Theatreers.Admin/Theatreers.Admin.prod.yml
  pipelines/Theatreers.Core.yml
  pipelines/stages/lifecycle.yml
  pipelines/stages/prod.yml
Due: pipelines/Theatreers.Admin.yml

Fixes for Frontend package issues (#56)
  .gitignore
  pipelines/Theatreers.Frontend.yml
  src/Theatreers.Frontend/.eslintrc.js
  src/Theatreers.Frontend/.gitignore
  src/Theatreers.Frontend/package-lock.json
  src/Theatreers.Frontend/package.json
  src/Theatreers.Frontend/public/favicon.ico
  src/Theatreers.Frontend/public/index.html
  src/Theatreers.Frontend/src/App.vue
  src/Theatreers.Frontend/src/components/HeaderDropdown.vue
  src/Theatreers.Frontend/src/components/ShowForm.vue
  src/Theatreers.Frontend/src/components/ShowImage.vue
  src/Theatreers.Frontend/src/components/ShowNews.vue
  src/Theatreers.Frontend/src/router.js
  src/Theatreers.Frontend/src/views/admin/AdminRoot.vue
  src/Theatreers.Frontend/src/views/admin/GetPermissions.vue
  src/Theatreers.Frontend/src/views/show/CreateShow.vue
  src/Theatreers.Frontend/src/views/show/EditShow.vue
  src/Theatreers.Frontend/src/views/show/GetShow.vue
  src/Theatreers.Frontend/src/views/show/GetShows.vue
Due: pipelines/Theatreers.Frontend.yml

Attempt at show deployment new pipeline (#58)
  pipelines/Theatreers.Show.yml
  pipelines/Theatreers.Show/Theatreers.Show.master.yml
  pipelines/Theatreers.Show/Theatreers.Show.preprod.yml
  pipelines/stages/lifecycle.yml
Due: pipelines/Theatreers.Show.yml

pre-prod use windows agent
  pipelines/Theatreers.Show/Theatreers.Show.preprod.yml
Due: pipelines/Theatreers.Show.yml

Adjust to use windows 2019 label
  pipelines/Theatreers.Show/Theatreers.Show.preprod.yml
Due: pipelines/Theatreers.Show.yml

Adjust to have regions in pre-prod template
  pipelines/Theatreers.Show/Theatreers.Show.preprod.yml
  pipelines/stages/preprod.yml
Due: pipelines/Theatreers.Show.yml

Adjust to use regions array in prod
  pipelines/Theatreers.Show/Theatreers.Show.preprod.yml
  pipelines/stages/prod.yml
Due: pipelines/Theatreers.Show.yml

adjust to use regions parameter
  pipelines/Theatreers.Show/Theatreers.Show.prod.yml
  pipelines/stages/prod.yml
Due: pipelines/Theatreers.Show.yml

Using joins to form depends on
  pipelines/Theatreers.Show/Theatreers.Show.prod.yml
  pipelines/stages/prod.yml
Due: pipelines/Theatreers.Show.yml

Adjust to use format instead
  pipelines/Theatreers.Show/Theatreers.Show.prod.yml
  pipelines/stages/prod.yml
Due: pipelines/Theatreers.Show.yml

test
  pipelines/Theatreers.Show/Theatreers.Show.prod.yml
  pipelines/stages/prod.yml
Due: pipelines/Theatreers.Show.yml

Adjustment to use join and update preprod name
  pipelines/Theatreers.Show/Theatreers.Show.prod.yml
  pipelines/stages/preprod.yml
  pipelines/stages/prod.yml
Due: pipelines/Theatreers.Show.yml

Temporary workaround
  pipelines/Theatreers.Show/Theatreers.Show.prod.yml
  pipelines/stages/prod.yml
Due: pipelines/Theatreers.Show.yml

temp test
  pipelines/Theatreers.Show/Theatreers.Show.prod.yml
  pipelines/stages/prod.yml
Due: pipelines/Theatreers.Show.yml

Adjustment for show dependencies
  pipelines/Theatreers.Show.yml
  pipelines/stages/lifecycle.yml
  pipelines/stages/prod.yml
Due: pipelines/Theatreers.Show.yml

slight tweak on dependson
  pipelines/stages/prod.yml
Due: none

Update with correct array
  pipelines/Theatreers.Show.yml
  pipelines/stages/prod.yml
Due: pipelines/Theatreers.Show.yml

Correct location
  pipelines/Theatreers.Show/Theatreers.Show.preprod.yml
Due: pipelines/Theatreers.Show.yml

Fix for region in preprod
  pipelines/Theatreers.Show/Theatreers.Show.preprod.yml
  pipelines/stages/preprod.yml
Due: pipelines/Theatreers.Show.yml

adjust to use regionalResourceGroupName
  pipelines/Theatreers.Show/Theatreers.Show.preprod.yml
Due: pipelines/Theatreers.Show.yml

Adjust to include the microservicename
  pipelines/Theatreers.Show/Theatreers.Show.preprod.yml
  pipelines/stages/preprod.yml
Due: pipelines/Theatreers.Show.yml

added up through stack
  pipelines/Theatreers.Show/Theatreers.Show.preprod.yml
  pipelines/stages/lifecycle.yml
Due: pipelines/Theatreers.Show.yml

trigger
  pipelines/Theatreers.Show/Theatreers.Show.preprod.yml
Due: pipelines/Theatreers.Show.yml

Add functionAppName variable
  pipelines/Theatreers.Show/Theatreers.Show.preprod.yml
Due: pipelines/Theatreers.Show.yml

Admin pre-prod pipeline
  pipelines/Theatreers.Admin/Theatreers.Admin.preprod.yml
Due: pipelines/Theatreers.Admin.yml

Retrigger now authorization is in place
  pipelines/Theatreers.Admin/Theatreers.Admin.preprod.yml
Due: pipelines/Theatreers.Admin.yml

Add preprod_dependency
  pipelines/Theatreers.Admin.yml
Due: pipelines/Theatreers.Admin.yml

use theatreers.admin deploy folder
  pipelines/Theatreers.Admin/Theatreers.Admin.preprod.yml
Due: pipelines/Theatreers.Admin.yml

Adjust to have build bring in arm templates
  pipelines/Theatreers.Admin/Theatreers.Admin.master.yml
  pipelines/Theatreers.Admin/Theatreers.Admin.preprod.yml
Due: pipelines/Theatreers.Admin.yml

Limit to WEU
  pipelines/Theatreers.Admin.yml
Due: pipelines/Theatreers.Admin.yml

Tenant Variable now held in build
  pipelines/Theatreers.Admin.yml
Due: pipelines/Theatreers.Admin.yml

Begin working on Theatreres.DevOps Pipeline (#60)
  pipelines/Archive/Theatreers.Admin.pipeline.yml
  pipelines/Archive/Theatreers.Frontend.pipeline.yml
  pipelines/Archive/Theatreers.Show.pipeline.yml
  pipelines/Archive/theatreers.api-generic.ci.yaml
  pipelines/Archive/theatreers.api-generic.nightly.yml
  pipelines/Archive/theatreers.show.archive.pipeline.ci.yml
  pipelines/Archive/theatreers.show.archive.pipeline.nightly.yml
  pipelines/Theatreers.DevOps.yml
  pipelines/Theatreers.DevOps/Theatreers.DevOps.ci.yml
  pipelines/Theatreers.DevOps/Theatreers.DevOps.dev.yml
  pipelines/Theatreers.DevOps/Theatreers.DevOps.master.yml
  pipelines/Theatreers.DevOps/Theatreers.DevOps.preprod.yml
  pipelines/Theatreers.DevOps/Theatreers.DevOps.prod.yml
Due: none

include subfolder drop location
  pipelines/Theatreers.DevOps/Theatreers.DevOps.preprod.yml
Due: none

Path conditions:
  pipelines/Theatreers.Admin.yml: any of: src/Theatreers.Admin, pipelines/Theatreers.Admin.yml, pipelines/Theatreers.Admin
  pipelines/Theatreers.Frontend.yml: any of: src/Theatreers.Frontend, pipelines/Theatreers.Frontend.yml, pipelines/Theatreers.Frontend
  pipelines/Theatreers.Show.yml: any of: src/Theatreers.Show, pipelines/Theatreers.Show.yml, pipelines/Theatreers.Show
