Repository Theatreers/Theatreers: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/Theatreers.Admin.yml, pipelines/Theatreers.Show.yml

pipelines/Theatreers.Admin.yml:
  stages:
  - template: /pipelines/stages/lifecycle.yml
    parameters:
      service: ${{ variables.service }}

pipelines/Theatreers.Show.yml:
  stages:
  - template: /pipelines/stages/lifecycle.yml
    parameters:
      service: ${{ variables.service }}

Remove extra artifactName
  pipelines/Theatreers.Core.yml
Due: none

Restyled by prettier-yaml
  pipelines/Theatreers.Core/Theatreers.Core.master.yml
  pipelines/Theatreers.Core/Theatreers.Core.preprod.yml
  pipelines/Theatreers.Core/Theatreers.Core.prod.yml
Due: none

Slight tweak to each template
  pipelines/stages/prod.yml
Due: none

Bring regions as parameter
  pipelines/Theatreers.Admin.yml
Due: pipelines/Theatreers.Admin.yml

adjust stage name
  pipelines/stages/prod.yml
Due: none

include region to satisfy pipeline for core
  pipelines/Theatreers.Core.yml
Due: none

Restyled by prettier-yaml
  pipelines/stages/prod.yml
Due: none

Attempt to build out environment name
  pipelines/Theatreers.Admin.yml
  pipelines/Theatreers.Admin/Theatreers.Admin.prod.yml
  pipelines/Theatreers.Core.yml
  pipelines/stages/lifecycle.yml
  pipelines/stages/prod.yml
Due: pipelines/Theatreers.Admin.yml

Ensure consistency across 2 parent files
  pipelines/Theatreers.Admin.yml
  pipelines/Theatreers.Core.yml
Due: pipelines/Theatreers.Admin.yml

Adjust calling approach for variable
  pipelines/Theatreers.Admin.yml
  pipelines/Theatreers.Core.yml
Due: pipelines/Theatreers.Admin.yml

Dont rely on variables
  pipelines/Theatreers.Admin.yml
  pipelines/Theatreers.Core.yml
Due: pipelines/Theatreers.Admin.yml

Include missing }
  pipelines/stages/prod.yml
Due: none

Fixes for pipeline issues
  pipelines/Theatreers.Core.yml
  pipelines/stages/prod.yml
Due: none

Appropriate name
  pipelines/stages/prod.yml
Due: none

Temporary break to check whether packages fixed
  src/Theatreers.Frontend/package.json
  src/Theatreers.Frontend/src/App.vue
  src/Theatreers.Frontend/src/components/HeaderDropdown.vue
Due: none

Adjust to remove node module
  .gitignore
  src/Theatreers.Frontend/.gitignore
  src/Theatreers.Frontend/public/favicon.ico
  src/Theatreers.Frontend/public/index.html
Due: none

Adjust frontend pipeline
  pipelines/Theatreers.Frontend.yml
Due: none

Adjust to correct path
  pipelines/Theatreers.Frontend.yml
Due: none

Linting fixes
  src/Theatreers.Frontend/package-lock.json
  src/Theatreers.Frontend/src/components/ShowForm.vue
  src/Theatreers.Frontend/src/components/ShowImage.vue
  src/Theatreers.Frontend/src/components/ShowNews.vue
  src/Theatreers.Frontend/src/router.js
  src/Theatreers.Frontend/src/views/admin/AdminRoot.vue
  src/Theatreers.Frontend/src/views/admin/GetPermissions.vue
  src/Theatreers.Frontend/src/views/show/CreateShow.vue
  src/Theatreers.Frontend/src/views/show/EditShow.vue
  src/Theatreers.Frontend/src/views/show/GetShow.vue
  src/Theatreers.Frontend/src/views/show/GetShows.vue
Due: none

Linting fixes
  src/Theatreers.Frontend/.eslintrc.js
  src/Theatreers.Frontend/src/components/HeaderDropdown.vue
  src/Theatreers.Frontend/src/components/ShowImage.vue
  src/Theatreers.Frontend/src/components/ShowNews.vue
  src/Theatreers.Frontend/src/views/admin/GetPermissions.vue
Due: none

Extra linting fixes
  src/Theatreers.Frontend/.eslintrc.js
  src/Theatreers.Frontend/src/views/admin/GetPermissions.vue
  src/Theatreers.Frontend/src/views/show/CreateShow.vue
  src/Theatreers.Frontend/src/views/show/EditShow.vue
  src/Theatreers.Frontend/src/views/show/GetShow.vue
Due: none

Adjustments for linting
  src/Theatreers.Frontend/.eslintrc.js
  src/Theatreers.Frontend/src/views/admin/GetPermissions.vue
  src/Theatreers.Frontend/src/views/show/CreateShow.vue
  src/Theatreers.Frontend/src/views/show/EditShow.vue
  src/Theatreers.Frontend/src/views/show/GetShow.vue
Due: none

Add slice to clone the array
  src/Theatreers.Frontend/src/views/admin/GetPermissions.vue
Due: none

Attempt at show deployment new pipeline
  pipelines/Theatreers.Show/Theatreers.Show.master.yml
  pipelines/Theatreers.Show/Theatreers.Show.preprod.yml
  pipelines/stages/lifecycle.yml
Due: pipelines/Theatreers.Show.yml

Restyled by prettier-yaml
  pipelines/Theatreers.Show/Theatreers.Show.master.yml
  pipelines/Theatreers.Show/Theatreers.Show.preprod.yml
Due: pipelines/Theatreers.Show.yml

Show Pipeline structure refactor
  pipelines/Theatreers.Show.yml
Due: pipelines/Theatreers.Show.yml

Comment to trigger
  pipelines/Theatreers.Show/Theatreers.Show.preprod.yml
Due: pipelines/Theatreers.Show.yml

Begin working on Theatreres.DevOps Pipeline
  pipelines/Archive/Theatreers.Admin.pipeline.yml
  pipelines/Archive/Theatreers.Frontend.pipeline.yml
  pipelines/Archive/Theatreers.Show.pipeline.yml
  pipelines/Archive/theatreers.api-generic.ci.yaml
  pipelines/Archive/theatreers.api-generic.nightly.yml
  pipelines/Archive/theatreers.show.archive.pipeline.ci.yml
  pipelines/Archive/theatreers.show.archive.pipeline.nightly.yml
  pipelines/Theatreers.DevOps.yml
  pipelines/Theatreers.DevOps/Theatreers.DevOps.ci.yml
  pipelines/Theatreers.DevOps/Theatreers.DevOps.dev.yml
  pipelines/Theatreers.DevOps/Theatreers.DevOps.master.yml
  pipelines/Theatreers.DevOps/Theatreers.DevOps.preprod.yml
  pipelines/Theatreers.DevOps/Theatreers.DevOps.prod.yml
Due: none

Adjust powershell task format
  pipelines/Theatreers.DevOps/Theatreers.DevOps.ci.yml
  pipelines/Theatreers.DevOps/Theatreers.DevOps.dev.yml
  pipelines/Theatreers.DevOps/Theatreers.DevOps.master.yml
Due: none

Adjust pre-prod
  pipelines/Theatreers.DevOps/Theatreers.DevOps.preprod.yml
Due: none

Fix path
  pipelines/Theatreers.DevOps/Theatreers.DevOps.ci.yml
  pipelines/Theatreers.DevOps/Theatreers.DevOps.dev.yml
  pipelines/Theatreers.DevOps/Theatreers.DevOps.master.yml
Due: none

Adjust folder path to script
  pipelines/Theatreers.DevOps/Theatreers.DevOps.ci.yml
  pipelines/Theatreers.DevOps/Theatreers.DevOps.dev.yml
  pipelines/Theatreers.DevOps/Theatreers.DevOps.master.yml
Due: none

Adjust preprod template to use environment
  pipelines/Theatreers.DevOps/Theatreers.DevOps.master.yml
  pipelines/Theatreers.DevOps/Theatreers.DevOps.preprod.yml
Due: none

Adjust location to be longstring not object
  pipelines/Theatreers.DevOps/Theatreers.DevOps.preprod.yml
Due: none

+semver: patch - Remove comments
  pipelines/Theatreers.Core/Theatreers.Core.master.yml
Due: none

Adjust CI to follow master build approach
  pipelines/Theatreers.Core/Theatreers.Core.ci.yml
Due: none

Restyled by prettier-yaml
  pipelines/Theatreers.Core/Theatreers.Core.ci.yml
  pipelines/Theatreers.Core/Theatreers.Core.master.yml
Due: none

Restyled by whitespace
  src/Theatreers.Show/Theatreers.Show.csproj
Due: pipelines/Theatreers.Show.yml

Restyled by whitespace
  src/Theatreers.Admin/Theatreers.Admin.csproj
Due: pipelines/Theatreers.Admin.yml

Create mynewdoc.md
  mynewdoc.md
Due: none

Path conditions:
  pipelines/Theatreers.Admin.yml: any of: src/Theatreers.Admin, pipelines/Theatreers.Admin.yml, pipelines/Theatreers.Admin
  pipelines/Theatreers.Show.yml: any of: src/Theatreers.Show, pipelines/Theatreers.Show.yml, pipelines/Theatreers.Show
