Repository Theatreers/Theatreers: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/Theatreers.Admin.yml, pipelines/Theatreers.Core.yml, pipelines/Theatreers.DevOps.yml, pipelines/Theatreers.Frontend.yml, pipelines/Theatreers.Show.yml

Path conditions:
  pipelines/Theatreers.Admin.yml: any of: src/Theatreers.Admin, pipelines/Theatreers.Admin.yml, pipelines/Theatreers.Admin
  pipelines/Theatreers.Core.yml: any of: src/Theatreers.Core, pipelines/Theatreers.Core.yml, pipelines/Theatreers.Core
  pipelines/Theatreers.DevOps.yml: any of: src/Theatreers.DevOps, pipelines/Theatreers.DevOps.yml, pipelines/Theatreers.DevOps
  pipelines/Theatreers.Frontend.yml: any of: src/Theatreers.Frontend, pipelines/Theatreers.Frontend.yml, pipelines/Theatreers.Frontend
  pipelines/Theatreers.Show.yml: any of: src/Theatreers.Show, pipelines/Theatreers.Show.yml, pipelines/Theatreers.Show

Create mynewdoc.md (#84)
  mynewdoc.md
Due: none

Restyled by whitespace
  src/Theatreers.Admin/Theatreers.Admin.csproj
  src/Theatreers.Show/Theatreers.Show.csproj
Due: pipelines/Theatreers.Admin.yml, pipelines/Theatreers.Show.yml

Update Theatreers.Core.csproj
  src/Theatreers.Core/Theatreers.Core.csproj
Due: pipelines/Theatreers.Core.yml

Restyled by whitespace
  src/Theatreers.Admin/Theatreers.Admin.csproj
Due: pipelines/Theatreers.Admin.yml

Restyled by whitespace
  src/Theatreers.Show/Theatreers.Show.csproj
Due: pipelines/Theatreers.Show.yml

Update apim.json
  deploy/buildingblocks/apim.json
Due: none
